In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('examples/ex1.csv')

In [14]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [18]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [35]:
obj	= """{"name":"Wes",
"places_lived":	["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name":"Scott", "age": 30, "pets": ["Zeus", "Zuk o"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [31]:
import json

In [36]:
result = json.loads(obj)

In [37]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuk o']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [38]:
asjson = json.dumps(result)

In [39]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [40]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [43]:
cat examples/example.json

SyntaxError: invalid syntax (<ipython-input-43-3ac71c416211>, line 1)

In [44]:
data = pd.read_json('examples/example.json')

In [45]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [46]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [47]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [48]:
# XML和HTML: Web信息收集

In [ ]:
pip	install	beautifulsoup4	html5lib
pip	install	lxml

In [ ]:
tables = pd.read_html('examples/fdic_failed_blank_list.html')

In [ ]:
len(tables)

In [ ]:
data = []
skipe_fields = ['PARENT_SEQ', 'INDICTOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

In [ ]:
from lxml import objectify
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
parsed

In [ ]:
for elt in root.INDICTOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skipe_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
data

In [ ]:
perf = pd.DataFrame(data)

In [ ]:
perf.head()

In [ ]:
from lxml import objectify

In [ ]:
from io import StringIO
tag = '<a	href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
objectify

In [ ]:
# Web APIS交互

import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [ ]:
resp = requests.get(url)

In [ ]:
resp