In [1]:
import sqlite3

In [2]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
C REAL, d INTEGER
);"""

In [3]:
con = sqlite3.connect('mydata.sqlite')

In [9]:
import pandas as pd

In [10]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [11]:
bins = [18, 25, 35, 60, 100]

In [12]:
cats = pd.cut(ages, bins)

In [13]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [14]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [15]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [16]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [19]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [20]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [22]:
import numpy as np

In [23]:
data = np.random.rand(20)

In [24]:
 pd.cut(data, 4, precision=2)

[(0.044, 0.25], (0.67, 0.87], (0.25, 0.46], (0.044, 0.25], (0.25, 0.46], ..., (0.46, 0.67], (0.46, 0.67], (0.25, 0.46], (0.46, 0.67], (0.67, 0.87]]
Length: 20
Categories (4, interval[float64]): [(0.044, 0.25] < (0.25, 0.46] < (0.46, 0.67] < (0.67, 0.87]]

In [25]:
data = np.random.randn(1000) # Normally distributed

In [26]:
# 检测和过滤异常值

In [27]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [28]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.030373    -0.011246    -0.080979     0.019452
std       0.988721     0.974725     0.974547     1.002858
min      -3.010448    -2.578848    -3.363585    -3.127294
25%      -0.595455    -0.675929    -0.754306    -0.671257
50%       0.045209    -0.036016    -0.086902    -0.023148
75%       0.695782     0.651165     0.559311     0.715102
max       2.640875     2.852952     3.104654     3.224522

In [29]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
205 -0.363387  0.103797  0.373732  3.224522
233 -0.592970 -0.460655  3.094514 -1.026869
243 -1.245360 -0.866055 -0.491530 -3.025894
653  0.161039 -0.301452  0.335556  3.026104
723 -1.562585  0.750300 -3.363585 -0.484416
876  0.873659 -0.178040 -0.100998 -3.127294
899 -3.010448 -0.355300 -0.644045 -0.903558
968 -0.195530 -2.089936  0.185979  3.020149
997  0.564415 -1.359394  3.104654 -1.184414

In [30]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [31]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.030384    -0.011246    -0.080815     0.019335
std       0.988689     0.974725     0.972747     1.001556
min      -3.000000    -2.578848    -3.000000    -3.000000
25%      -0.595455    -0.675929    -0.754306    -0.671257
50%       0.045209    -0.036016    -0.086902    -0.023148
75%       0.695782     0.651165     0.559311     0.715102
max       2.640875     2.852952     3.000000     3.000000

In [32]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0 -1.0  1.0
1 -1.0 -1.0 -1.0  1.0
2  1.0  1.0 -1.0  1.0
3 -1.0 -1.0 -1.0  1.0
4 -1.0 -1.0 -1.0  1.0