In [5]:
# pandas的矢量化字符串函数
import numpy as np

In [6]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [7]:
data = pd.Series(data)

In [8]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [10]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [12]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [14]:
matches.str.get(1)

NameError: name 'matches' is not defined

In [16]:
data = pd.Series(np.random.randn(9),
index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [17]:
data

a  1   -1.467902
   2    0.499789
   3    1.270670
b  1    0.045524
   3   -1.131680
c  1   -1.276480
   2    0.719836
d  2    0.781009
   3   -0.321165
dtype: float64

In [18]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [19]:
data['b']

1    0.045524
3   -1.131680
dtype: float64

In [20]:
data['b':'c']

b  1    0.045524
   3   -1.131680
c  1   -1.276480
   2    0.719836
dtype: float64

In [21]:
data.loc[['b', 'd']]

b  1    0.045524
   3   -1.131680
d  2    0.781009
   3   -0.321165
dtype: float64

In [22]:
data.loc[:, 2]

a    0.499789
c    0.719836
d    0.781009
dtype: float64

In [23]:
data.unstack()

          1         2         3
a -1.467902  0.499789  1.270670
b  0.045524       NaN -1.131680
c -1.276480  0.719836       NaN
d       NaN  0.781009 -0.321165

In [24]:
 df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a'
, 'b', 'c', 'd'])

In [25]:
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b'
, 'd', 'a'])

In [26]:
df1

          a         b         c         d
0 -0.064125 -1.273148 -0.795538  1.731340
1 -0.440333  0.739817  0.079556  0.744731
2 -1.265809  0.189349 -0.154247 -0.029542

In [27]:
df2

          b         d         a
0  0.838484 -0.242901  0.712409
1 -0.992615 -1.533766  1.569147

In [28]:
pd.concat([df1, df2], ignore_index=True)

          a         b         c         d
0 -0.064125 -1.273148 -0.795538  1.731340
1 -0.440333  0.739817  0.079556  0.744731
2 -1.265809  0.189349 -0.154247 -0.029542
3  0.712409  0.838484       NaN -0.242901
4  1.569147 -0.992615       NaN -1.533766

In [30]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], index=['f', 'e', 'd', 'c', 'b', 'a'])

In [31]:
b = pd.Series(np.arange(len(a), dtype=np.float64), index=['f', 'e', 'd', 'c', 'b', 'a'])

In [33]:
b[-1] = np.nan

In [36]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [35]:
np.where(pd.isnull(a), b, a)

array([0. , 2.5, 2. , 3.5, 4.5, nan])

In [43]:
range(100)

range(0, 100)