In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('examples/ex5.csv')

In [3]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
data.to_csv('examples/out.csv')

In [6]:
import sys

In [16]:
import numpy as np

In [7]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [8]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [9]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [10]:
dates = pd.date_range('1/1/2000', periods=7)

In [17]:
ts = pd.Series(np.arange(7), index=dates)

In [18]:
ts.to_csv('examples/tsseries.csv')

C:\Users\zhu.linhai\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.